<template>
  <form @submit.prevent="submitForm">

    <div>
      <vs-input placeholder="Username" v-model="form.username"/>
      <vs-button color="primary" type="filled" @click="submitForm">Submit</vs-button>
    </div>
  </form>
</template>

<script>
export default {
  name: "FormProfile",
  data() {
    return {
      form: {
        username: ''
      }
    }
  },
  methods: {
    submitForm() {
      this.$vs.loading()
      setTimeout( ()=> {
        this.$vs.loading.close()
      }, 2000);
    }
  }
}
</script>

<style scoped>

</style>