<template>
  <div class="home">

    <!--    <input type="number" v-model.number="angka1">-->
    <!--    <input type="number" v-model.number="angka2">-->

    <!--    <h1>{{ angka1 + angka2 }}</h1>-->

    <!--    <h1>{{ hasil_angka }}</h1>-->
    <!--    <h2>{{ isOdd(hasil_angka) }}</h2>-->

    <vs-button color="primary" type="filled" @click="isAlertActive = !isAlertActive">Show / Hide Alert</vs-button>
    <!--    <vs-button color="primary" type="filled" @click="submitForm">Show / Hide Alert</vs-button>-->

    <vs-alert :active="isAlertActive">
      Lorem ipsum dolor sit amet.
    </vs-alert>
  </div>
</template>


<script>

export default {
  name: 'Home',
  data: () => {
    return {
      angka1: 0,
      angka2: 0,
      isAlertActive: false
    }
  },
  components: {},
  computed: {
    hasil_angka() {
      return this.angka1 + this.angka2
    }
  },
  mounted() {
  },
  methods: {
    isOdd(value) {
      return (value % 2) === 0 ? 'Genap' : 'Ganjil'
    },
    submitForm() {
      /// run api submit form
      this.isAlertActive = true
    }
  },
}

</script>
