<template>
  <div>
    <h1>Profile</h1>
    <form-profile/>
  </div>
</template>

<script>
import FormProfile from "@/components/Profile/FormProfile";

export default {
  name: "Profile",
  components: {
    FormProfile
  }
}
</script>

<style scoped>

</style>