<template>
  <form @submit.prevent="submitForm">
    <div>
      <vs-input label="Name" placeholder="Name" v-model="form.name"/>
    </div>
    <div>
      <vs-input label="Grade" placeholder="Grade" v-model="form.grade"/>
    </div>
    <div>
      <vs-button @click="submitForm">Submit</vs-button>
    </div>

    <input type="file" @change="onChangeFile">
  </form>
</template>

<script>
import api from "@/helper/api";

export default {
  name: "FormStudent",
  data: () => {
    return {
      form: {
        id: '',
        name: '',
        grade: '',
        file: null
      }
    }
  },
  computed: {
    id() {
      return this.$route.params.id
    }
  },
  async mounted() {
    if (this.id) {
      this.$vs.loading()
      await api.get('/student/' + this.id).then(res => {
        this.form.id = res.data.id
        this.form.name = res.data.name
        this.form.grade = res.data.grade
      })
      this.$vs.loading.close()
    }
  },
  methods: {
    async submitForm() {
      this.$vs.loading()

      let data = new FormData

      data.append('name', this.form.name)
      data.append('grade', this.form.grade)
      data.append('file', this.form.file)

      if (this.id) {
        await api.put('/student/' + this.id, data).then(res => {
          if (res.status === 200) this.$router.push('/student')
        })
      } else {
        await api.post('/student', data).then(res => {
          if (res.status === 200) this.$router.push('/student')
        })
      }
      this.$vs.loading.close()
    },
    onChangeFile (e) {
      let file = e.target.files[0]
      if (file) this.form.file = file
      else this.form.file = null
    }
  }
}
</script>

<style scoped>

</style>