<template>
  <div>
    <vs-button to="/student/create">Add Student</vs-button>

    <vs-table pagination stripe :data="students">
      <template slot="header">
        <h3>
          Students
        </h3>
      </template>
      <template slot="thead">
        <vs-th>ID</vs-th>
        <vs-th>Name</vs-th>
        <vs-th>Grade</vs-th>
        <vs-th>Action</vs-th>
      </template>
      <template slot-scope="{data}">
        <vs-tr :key="index" v-for="(value, index) in data">
          <vs-td>{{ value.id }}</vs-td>
          <vs-td>{{ value.name }}</vs-td>
          <vs-td>{{ value.grade }}</vs-td>
          <vs-td>
            <vs-button color="warning" :to="'/student/' + value.id">Edit</vs-button>
            <vs-button color="danger" style="margin-left: .2rem">Delete</vs-button>
          </vs-td>
        </vs-tr>
      </template>
    </vs-table>
  </div>
</template>

<script>
import api from '@/helper/api'

export default {
  name: "ViewStudent",
  data: () => {
    return {
      students: []
    }
  },
  async mounted() {
    this.$vs.loading()

    await api.get('/student').then(res => {
      this.students = res.data
    }).catch(err => {
      console.log(err)
    })

    this.$vs.loading.close()
  }
}
</script>