<template>
  <div id="app">

    <vs-navbar class="nabarx">
      <div slot="title">
        <vs-navbar-title>
          Hello world
        </vs-navbar-title>
      </div>

      <vs-navbar-item index="0" >
        <router-link to="/">Home</router-link>
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <router-link to="/profile">Profile</router-link>
      </vs-navbar-item>
    </vs-navbar>

    <router-view/>
  </div>
</template>

<script>
export default {
  data:()=>({
    activeItem: 0
  })
}
</script>